ul.Chat-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul.Chat-list li:nth-child(n+2) {
  margin-top: 16px;
}

ul.Chat-list li {
  height: 32px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  justify-content: center;
}